
@media screen and (max-width: 720px) and (min-width: 400px){
    .col-sm {
        padding-bottom: 4%;
    }
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    width: auto;
    height: auto;
}

.container-fluid{
    margin-top: 5%;
}


.container.button {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 2%;
}

.col-sm{
text-align: center;

}

.subContainer{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.left {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
}

